.navigation {
    flex: 1;
    background: #302D43;
}
.logo {
    text-align: center;
    font-size: 30px;
    margin-top: 3vh;
    margin-bottom: 0;
    color: #EAEDF3;
}

.nav {
    padding-top: 8vh;
}

.nav-links {
    display: block;
    color: #EAEDF3;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 150;
    transition: all 0.3s ease-in-out;
    font-size: 12px,
}


.nav-links:hover {
    background:#282639;
    border-left: 5px solid #92CF48;
    padding: 15px 30px 15px 25px;
}

.nav-links:hover .fa{
    color: #92CF48;
}

.nav-links:active {
    
        background: #282639;
        border-left: 5px solid #92CF48;
        padding: 15px 30px 15px 25px;
}

.nav-links:active .fa{
        color: #92CF48;
}

.fa {
    color: #92CF48;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
}

.logout {
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #EAEDF3
}

   
     